// =============================================================================
// SCSS/SITE/STACKS/ETHOS/_BIGVIDEO.SCSS
// -----------------------------------------------------------------------------
// Styles for BigVideo player.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Base Styles
// =============================================================================

// Base Styles
// =============================================================================

#big-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: $black;
}

#big-video-wrap .vjs-tech {
  left: 0;
  margin: 0;
}

#big-video-image {
  max-width: none;
}