// =============================================================================
// SCSS/SITE/STACKS/RENEW/_MEGAMENU.SCSS
// -----------------------------------------------------------------------------
// Styling for the megamenu.
// =============================================================================

// =============================================================================
// TABLE OF CONTENTS
// -----------------------------------------------------------------------------
//   01. Base Styles
//   02. Navbar Layout Styles
//   03. Responsive Styles
// =============================================================================

// Base Styles
// =============================================================================

.x-nav .x-megamenu {
  > .sub-menu {
    a {
      white-space: normal;
    }

    > li {
      float: left;
      padding: 18px;

      &:before {
      	display: none;
      }

      > a {
        margin: 0;
        padding-top: 0;
        @include font-size(1.6);
        text-transform: uppercase;
        color: $navbarLinkColorHover;

        &:after {
          display: none;
        }
      }

      > .sub-menu {
        display: block !important;
        position: static;
        visibility: visible !important;
        width: 100%;
        min-width: 0;
        padding: 0;
        @include box-shadow(#{none});
      }
    }
  }

  &.col-2 > .sub-menu > li { width: 50%;      &:nth-child(3n) { clear: left; } }
  &.col-3 > .sub-menu > li { width: 33.3333%; &:nth-child(4n) { clear: left; } }
  &.col-4 > .sub-menu > li { width: 25%;      &:nth-child(5n) { clear: left; } }
  &.col-5 > .sub-menu > li { width: 20%;      &:nth-child(6n) { clear: left; } }

}



// Navbar Layout Styles
// =============================================================================

.x-navbar-static-active,
.x-navbar-fixed-top-active {
  .x-nav .x-megamenu {
    position: static;

    > .sub-menu {
      padding: 0 18px 18px;
      left: 0;
      right: 0;
    }
  }
}

.x-navbar-fixed-left-active,
.x-navbar-fixed-right-active {
  .x-nav .x-megamenu {
    position: relative;

    > .sub-menu {
      padding: 0 8px 8px;
      width: 600px;
    }
  }
}



// Responsive Styles
// =============================================================================

@include break(cubs) {
  .x-nav .x-megamenu {
    > .sub-menu {
      position: static;
      width: auto !important;
      padding: 0 !important;

      > li {
        float: none;
        padding: 0;

        > a {
          text-transform: none;
          color: inherit;

          &:after {
            display: inline;
          }
        }

        > .sub-menu {
          width: auto;
        }
      }
    }

    &.col-2,
    &.col-3,
    &.col-4,
    &.col-5 {
      > .sub-menu > li {
        width: auto;
      }
    }
  }
}